@use 'variables' as *;
@use 'fonts';

@mixin box_shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin flex_row {
    display: flex;
    flex-direction: row;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
}

@mixin bigTitle {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: $fs-24;
    font-weight: 600;
    text-transform: uppercase;
}

@mixin btn {
    display: inline-block;
    text-align: center;
    max-width: 20rem;
    text-transform: uppercase;
    font-size: $fs-14;
    font-weight: 700;
}

@mixin star() {
  $fill: ★;
  $empty: ☆;
  width: 400px;
  > * {
    float: right;
  }

  label {
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    padding: 0 10px;
    @for $i from 5 through 1 {
      &:nth-of-type(#{$i}):after {
        animation-delay: $i * .1s;
      }
    }
    &:after {
      transition: all 1s ease-out;
      position: absolute;
      content: '#{$empty}';
      color: orange;
      font-size: 65px;
    }
  }
  input {
    display: none;
    &:checked {
      + label:after,
      ~ label:after {
        content: '#{$fill}';
        color: gold;
        text-shadow: 0 0 10px gold;
      }
    }
  }
}