@use 'variables' as *;
@use 'fonts';

@mixin box_shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin flex_row {
    display: flex;
    flex-direction: row;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
}

@mixin bigTitle {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: $fs-24;
    font-weight: 600;
    text-transform: uppercase;
}