@use '../utils/variables' as *;
@use '../utils/fonts';

.section__likedbook {
    height: 40rem;
    background-color: $beige;
    padding: 0;
}

.parcoursAccueil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.parcoursAccueil__intro {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.parcoursAccueil__intro .btn {
    align-self: flex-end;
}

.parcoursAccueil__list {
    margin: $space-10 $space-25;
}

/*-------------- MEDIA QUERIES --------------*/
@media (max-width:$lg) {
    .parcoursAccueil {
        justify-content: center;
    }
    .parcoursAccueil__intro {
        max-width: 100%;
    }
    
}

@media (min-width:$lg) and (max-width:$xl) {
    .parcoursAccueil__intro {
        max-width: 40%;
    }
    
}