@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/fonts';

.actualite__container {
    @include flex_row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: $space-10;
    margin-top: $space-30;
}

.actualite__card {
    @include box_shadow;
    @include flex_column;
    width: 38rem;
    height: 20rem;
    padding: $space-10;
    justify-content: space-evenly;
}

.actualite__cardTitle {
    font-family: "Barlow Semi Condensed", sans-serif;
    text-transform: uppercase;
    font-size: $fs-20;
    font-weight: 600;
}

.actualite__cardIntro {
    @include flex_row;
    gap: $space-10;
}

.actualite__cardImg {
    width: 10rem;
    height: 10rem;
}

.actualite__cardLink {
    font-size: $fs-14;
    align-self: flex-end;
}

.actualite__cardHidden {
    display: none;
}


/*-------------- MEDIA QUERIES --------------*/

@media (max-width:$xl) {
    
    .actualite__cardHidden {
        display: flex;
    }

}


