@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/fonts';

.reviews__survey {
    @include flex_row;
    gap: $space-20;
}
.reviews__container {
    width: 38rem;
    padding: $space-15;
    @include box_shadow;
}
.reviews__note {
    height: 34rem;
}

.reviews__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $space-15;
}