@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/fonts';

.btnPanier {
    display: inline-block;
    text-align: center;
    max-width: 20rem;
    background-color: $white;
    border: 3px solid $red;
    padding: $space-10 $space-20;
    margin: $space-20 0;
    color: $red;
    text-transform: uppercase;
    font-size: $fs-14;
    font-weight: 700;
}

.btnPanier_140 {
    display: inline-block;
    text-align: center;
    max-width: 16rem;
    background-color: $white;
    border: 3px solid $red;
    padding: $space-10 $space-10;
    margin: $space-20 0;
    color: $red;
    text-transform: uppercase;
    font-size: $fs-12;
    font-weight: 700;
}

.btnPanier:hover, .btnPanier_140:hover {
    background-color: $red;
    color: $white;
}

