@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/fonts';

$smoke: #e2e2e2;
$disable: #f2f2f2;

.qty-input {
	color: $black;
	background: $white;
	display: flex;
	align-items: center;
	overflow: hidden;

	.product-qty,
	.qty-count {
		background: transparent;
		color: inherit;
		font-weight: bold;
		font-size: inherit;
		border: none;
		display: inline-block;
		min-width: 0;
		height: 2.5rem;
		line-height: 1;
		

		&:focus {
			outline: none;
		}
	}

	.product-qty {
		width: 7rem;
		min-width: 0;
		display: inline-block;
		text-align: center;
        font-size: $fs-16;
		appearance: textfield;		
		
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}
	}

	.qty-count {
		padding: 0;
		cursor: pointer;
		width: 4rem;
		font-size: 1.25em;
		text-indent: -100px;
		overflow: hidden;
		position: relative;
		
		&:before, 
		&:after {
			content: "";
			height: 2px;
			width: 10px;
			position: absolute;
			display: block;
			background: $black;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		&--minus {
			border-right: 1px solid $smoke;
		}
		&--add {
			border-left: 1px solid $smoke;
			&:after {
				transform: rotate(90deg);
			}
		}
		
		&:disabled {
			color: $gray;
			background: $disable;
			cursor: not-allowed;
			border-color: transparent;
			
			&:before,
			&:after {
				background: $gray;
			}
		}
	}
}

.qty-input {
	border-radius: 4px;
	border: 1px solid $fadedjade;
    width: 15rem;
    height: 4rem;
}
