@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/fonts';

.btn {
    @include btn;
    background-color: $fadedjade;
    border: 3px solid $fadedjade;
    padding: $space-10 $space-20;
    margin: $space-20 0;
    color: $white;
}

.btn:hover {
    background-color: $white;
    color: $fadedjade;
}

.btnInverse {
    @include btn;
    background-color: $white;
    border: 3px solid $fadedjade;
    padding: $space-10 $space-10;
    color: $fadedjade;
}

.btnInverse:hover {
    background-color: $fadedjade;
    color: $white;
}