@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/fonts';

.hero {
    @include flex_row;
    justify-content: center;
    align-items: center;
}

.hero__containerImg {
    width: 70%;  
}

.hero__img {
    width: 100%;
    max-height: 45rem; 
    object-fit: cover;
}

.hero__titleStyle {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: $fs-40;
    font-weight: 700;
}

.hero__title1 {
    text-align: right;
    text-transform: uppercase;
    padding-right:$space-10;
    color: $white;
    margin-left: -19rem;
}

.hero__title2 {
    text-align: right;
    color: $white;
    margin-left: -8rem;
}

.hero__subTitle {
    text-align: center;
    padding: $space-20 $space-15;
}

.hero__intro {
    @include flex_column;
    align-items: center;
}


/*-------------- MEDIA QUERIES --------------*/

@media (max-width:$sm) {
    .hero {
        flex-wrap: wrap;
    }
    
    .hero__img {
        max-height: 20rem; 
    }
    .hero__containerImg {
        width: 100%;
    }
    .hero__GreatTitle {
        text-align: center;
    }
    .hero__title1 {
        margin-left: 0;
        color: $darkblue;
    }
    .hero__title2 {
        margin-left: 0;
        color: $darkblue;
    }
}

@media (min-width:$md) and (max-width:$lg) {
    .hero__img {
        max-height: 40rem; 
    } 
}




