@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/fonts';

.header__menu {
    width: 80%;
    padding-left: $space-20;
    @include flex_column;
    justify-content: space-evenly;
}


/* ----------- MENU ICONS ----------- */

.header__menuIcons {
    @include flex_row;
    align-items: center;
    justify-content: flex-end;
    gap: $space-20;
}

.menuIcons__list {
    @include flex_row;
    gap: $space-10;
}

.menuIcons__item {
    gap: $space-10;
}

.menuIcons__item img{
    width: 3.5rem;
}


/* ----------- MENU PRINCIPAL ----------- */

.mainMenu__list {
    @include flex_row;
    gap: $space-20;

}

.mainMenu__item {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: $fs-20;
    font-weight: 600;
    text-transform: uppercase;
}
