.product__slider {
    width: 480px;
    display: flex;
    gap: 10px;
}

.swiper {
  width: 380px;
  height: 480px;
}

.swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.thumbs-wrapper {
  width: 120px;
}

.thumbs-swiper {
    width: 100px;
    height: 500px;
}

.thumbs-swiper .thumbs-prev {
    top:10px;
}

.thumbs-swiper .thumbs-next {
    bottom:10px;
}

.thumbs-swiper img {
    height: 100px ;
    width: 80px ;
    object-fit: cover;
}

.main-swiper img {
    width: 380px;
    height: 480px;
    object-fit: contain;
}

.main-swiper {
    width: 100%;
    position: relative;
}

.thumbs-nav {
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}