@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/fonts';


.product__slider {
    width: 48rem;
    display: flex;
    gap: $space-10;
}

.swiper {
  width: 38rem;
  height: 48rem;
}

.swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.thumbs-wrapper {
  width: 12rem;
}

.thumbs-swiper {
    width: 10rem;
    height: 50rem;
}

// .thumbs-swiper .thumbs-prev {
//     top:$space-10;
// }

// .thumbs-swiper .thumbs-next {
//     bottom:$space-10;
// }

.thumbs-swiper img {
    height: 10rem ;
    width: 8rem ;
    object-fit: cover;
}

.main-swiper img {
    width: 38rem;
    height: 48rem;
    object-fit: contain;
}

.main-swiper {
    width: 100%;
    position: relative;
}

.thumbs-nav {
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}