/* -------- BASE ---------*/

@use 'base/main';


/* -------- UTILS ---------*/

@use 'utils/variables';
@use 'utils/fonts';
@use 'utils/mixins';


/* -------- VENDORS ---------*/



/* -------- LAYOUT ---------*/

@use 'layout/header';
@use 'layout/footer';
@use 'layout/section';

/* -------- COMPONENTS ---------*/

@use 'components/accueilParcours';
@use 'components/accueilCarousel';
@use 'components/avisProduit';
@use 'components/actualite';

@use 'components/btn';
@use 'components/btnPanier';
@use 'components/btnFavorite';
@use 'components/btnQty';

@use 'components/card_nouveaute';
@use 'components/coupdecoeur';
@use 'components/close';

@use 'components/hero';

@use 'components/likeToo';

@use 'components/menu';

@use 'components/newsletter';

@use 'components/parcoursTheme';
@use 'components/pageParcours';
@use 'components/produit';

@use 'components/rechercheHeader';

@use 'components/thumbnailSlider';


